<h2>Tags</h2>
{% capture temptags %}
{% for tag in site.tags %}
{{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
{% endfor %}
{% endcapture %}

{% comment %} normalize {% endcomment %}
{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
{% assign maxtag = sortedtemptags[0] | split:'#' %}
maxtag{{maxtag}}
maxtag[0]{{maxtag[0]}}
maxtag[1]{{maxtag[1]}}
maxtag[2]{{maxtag[2]}}
{% assign max = 2 %}
max{{max}}
{% assign min = 1 %}
min{{min}}
{% assign range = max | minus: min %}
range{{range}}

{% assign tags = temptags | split:' ' %}
{% for temptag in tags %}
{% assign tagitems = temptag | split: '#' %}
{% assign tagname = tagitems[1] %}
{% assign times = tagitems[2] %}
times{{times}}
{% assign level = times | minus: min | times: 10 | divided_by: range %}
level{{level}}
<a href="/tag/{{ tagname }}" class="tag{{level}}"><code class="highligher-rouge">
    <nobr>{{ tagname }}</nobr>
</code></a>
{% endfor %}