<h2>Tags</h2>
{% capture temptags %}
{% for tag in site.tags %}
{{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
{% endfor %}
{% endcapture %}

{% assign tags = temptags | split:' ' %}
{% for temptag in tags %}
{% assign tagitems = temptag | split: '#' %}
{% assign tagname = tagitems[1] %}
{% assign times = tagitems[2] %}
{% assign level = 3 | minus: 3 | times: 10 | divided_by: 2 %}
<a href="/tag/{{ tagname }}" class="tag{{level}}"><code class="highligher-rouge">
    <nobr>{{ tagname }}</nobr>
</code></a>
{% endfor %}