.tag0 {
  font-size: 75%
}

.tag1 {
  font-size: 80%
}

.tag2 {
  font-size: 85%
}

.tag3 {
  font-size: 90%
}

.tag4 {
  font-size: 95%
}

.tag5 {
  font-size: 100%
}

.tag6 {
  font-size: 105%
}

.tag7 {
  font-size: 110%
}

.tag8 {
  font-size: 115%
}

.tag9 {
  font-size: 120%
}

.tag10 {
  font-size: 125%
}